<header></header>
<nav>
  <a routerLink="/">Home</a>
</nav>
<main>
  <h1>Fundamentos Básicos de Angular 13</h1>
  <div class="aula">
    <h3>Compartilhamento de dados</h3>
    <p>Estes dados vieram do componente principal:</p>
    <app-parent-data [name]="userName" [userData]="userData"></app-parent-data>
  </div>
  <h3>Tópicos estudados:</h3>
  <ul>
    <li><a routerLink="list">Renderização de Listas</a></li>
    <li><a routerLink="directives">Diretivas</a></li>
    <li><a routerLink="emitter">Emitindo eventos</a></li>
    <li><a routerLink="eventos">Eventos</a></li>
    <li><a routerLink="if-render">Renderização condicional</a></li>

    <li><a routerLink="pipes">Pipe operators</a></li>
    <li><a routerLink="two-way">Two Way Data Binding</a></li>
  </ul>

  <router-outlet></router-outlet>
</main>
<footer></footer>
